<header class="main-header">
  <div class="container site-header">

        <!-- LOGO -->
    <a href="index.html" class="brand">
      <img 
        src="partials/logos_website/rios_logo-light.svg" 
        alt="Rios Desporto"
        data-light="partials/logos_website/rios_logo-light.svg"
        data-dark="partials/logos_website/rios_logo-dark.svg"
      >
    </a>

    <!-- NAVEGAÇÃO -->
    <nav aria-label="Main navigation">
      <ul class="nav-list" id="nav">

        <!-- Estatística com submenu -->
       

        <!-- Links simples -->
         <li><a href="instalacoes.html">Arena</a></li>
        <li><a href="melhoresmarcadores.html">Estatística</a></li>
        <li><a href="equipas.html">Equipas</a></li>
        <li><a href="jogadoresdoresinscritos.html">Jogadores</a></li>
        <li><a href="inscricao.html">Inscrição</a></li>
        <li><a href="jogos.html">Jornadas</a></li>
        <li><a href="tabeladepontuacao.html">Tabela</a></li>

      </ul>
    </nav>

    <!-- BOTÃO MOBILE -->
    <button
      class="nav-toggle"
      aria-expanded="false"
      aria-controls="nav"
      aria-label="Abrir menu principal">
      <span class="nav-toggle-icon"></span>
    </button>

  </div>
</header>


